{% extends "header.html" %}

{% block title %}To-Do List{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="{{ url_for('static', filename='js/add.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="todo-container">
        <h1>To-Do List</h1>
        
        <input type="text" id="myInput" placeholder="Add a new task">

        <!-- Kategori dropdown -->
        <select id="categorySelect">
          <option value="">Velg kategori</option>
          <option value="Skole">Skole</option>
          <option value="Hjemme">Hjemme</option>
          <option value="Fritid">Fritid</option>
        </select>

        <!-- Priority dropdown -->
        <select id="prioritySelect">
          <option value="">Velg prioritet</option>
          <option value="Høy">Høy</option>
          <option value="Medium">Medium</option>
          <option value="Lav">Lav</option>
        </select>
        
        <button id="addButton" disabled>Legg til</button>

        <ul id="ulList">
        </ul>
    </div>
</div>
{% endblock %}