{% extends "header.html" %}

{% block title %}To-Do List{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/liste.css') }}">
<script src="{{ url_for('static', filename='js/list.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="todo-container">

      <div class="category-list">
        <h2>Skole</h2>
        <ul id="skoleList"></ul>
      </div>
      
      <div class="category-list">
        <h2>Hjemme</h2>
        <ul id="hjemmeList"></ul>
      </div>
      
      <div class="category-list">
        <h2>Fritid</h2>
        <ul id="fritidList"></ul>
      </div>
  
    </div>
  </div>
  
{% endblock %}
